body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    color: black;
}
#header {
  text-align: center;
  background: white;
}

#poster {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr [last];
}

.box {
    background-color: rgb(166, 196, 255);
}

.header {
    text-align: center;
    grid-column: 1/ last;
}

.regular {
    text-align: center;
    grid-column: 1/ last;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

svg {
    width: 100%;
    border: dashed 1px;
}

.dimple-line {
    stroke: red !important;
}
