body {
    margin: 40px;
    background-color: white;
}

#poster {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr [last];
}

.box {
    background-color: lavender;
    border-radius: 5px;
    padding: 25px;
}

.header {
    text-align: center;
    grid-column: 1/ last;
}

.footer {
    text-align: center;
    grid-column: 1/ last;
}

svg {
    width: 100%;
    border: dashed 1px;
}

.dimple-line {
    stroke: red !important;
}

.left {
    grid-column: 1;
}

.right {
    grid-column: 2;
}

h3 {
    font-family: 'Roboto', sans-serif;
}
